ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

ul li a{
    height: wrap-content;
    width: 20rem;
    // padding-bottom: 2rem;
    border: 2.5px solid whitesmoke;
    border-radius: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: black;
}
li a:hover{
    opacity: 0.9;
    cursor: pointer;
}
.content {
    position: relative; // Ensure the content div is positioned relatively
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center; // Center horizontally
    justify-content: center; // Center vertically
}
hr{
    width: 100%;
}
.cijena {
    align-self: flex-end;
    text-align: right;
    margin: 0.5rem;
}
.naziv {
    height: 2.45em; // Adjust height to fit two lines of text
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; // Limit to two lines
    -webkit-box-orient: vertical;
    align-items: center; // Center vertically
    justify-content: center; // Center horizontally
    text-align: center; // Center text horizontally

}
.kategorije {
    display: grid;
    height: 4rem; // Adjust height to fit two rows of text
    grid-template-columns: repeat(3, 1fr); // Display 3 items per row
    gap: 0.1rem; // Adjust gap between items
    overflow-x: hidden;
    overflow-y: auto; // Make the div scrollable if it overflows
}
.kategorije span {
    
    white-space: nowrap;
    padding: 0;
    margin: 0;
    width: 100px;
}
.content ::ng-deep app-button{
    width: 80%;
    height: 100%;
}
.content ::ng-deep app-button button span{
    font-size: 0.8rem;
    height: fit-content !important;
}
.content ::ng-deep app-button button{
    height: 1.5rem !important;
    width: 95px;
    background-color: #FFF;
    border-radius: 0.72rem;
    margin: 0.2rem;
    white-space: nowrap;
}