<div class="user-profile">

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" [class.active]="activeTab === 'ads'" (click)="activeTab = 'ads'">Moji oglasi</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [class.active]="activeTab === 'profile'" (click)="activeTab = 'profile'">Profil</a>
        </li>
    </ul>

    <div *ngIf="activeTab === 'ads'">
      <div class="addListingButton">
        <a routerLink="/add-listing" class="addButton">
          <button mat-raised-button color="primary" class="mat-mdc-raised-button">Dodaj oglas</button>
        </a>
      </div>
        <ul>
            <li *ngFor="let oglas of user.oglasi">
                <a>
                    <img src="{{ oglas.slika }}" alt="Oglas slika" />
                    <div class="content">
                        <div class="naziv">
                            {{ oglas.naziv }}
                        </div>
                        <hr />
                        <div class="kategorije">
                            <span *ngFor="let kategorija of oglas.kategorije">
                                <app-button [text]="kategorija"></app-button>
                            </span>
                        </div>
                        <div class="cijena">
                            {{ oglas.cijena }}
                        </div>
                    </div>
                </a>
            </li>
        </ul>
        <div *ngIf="!(user.oglasi && user.oglasi.length)" class="noListingContainer">
           <p style="margin: auto;">
            Nemate aktivnih oglasa!
           </p>
        </div>
    </div>

    <div *ngIf="activeTab === 'profile'">
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="profile-form">
            <div class="profile-picture-container">
              <label for="profilePicture">
                <img
                  src=""
                  alt="Profile Picture"
                  class="profile-picture"
                  title="Click to upload a new picture"
                />
              </label>
              <input
                type="file"
                id="profilePicture"
                class="profile-picture-input"
                accept="image/*"
                (change)="onProfilePictureChange($event)"
              />
            </div>
          
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>{{ "firstName" | translate }}</mat-label>
              <input matInput type="text" formControlName="ime" />
            </mat-form-field>
          
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>{{ "lastName" | translate }}</mat-label>
              <input matInput type="text" formControlName="prezime" />
            </mat-form-field>
          
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>{{ "username" | translate }}</mat-label>
              <input matInput type="text" formControlName="username" />
              <mat-error *ngIf="userForm.get('username')?.hasError('required')">
                {{ "usernameRequired" | translate }}
              </mat-error>
              <mat-error *ngIf="userForm.get('username')?.hasError('usernameExists')">
                {{ "usernameError" | translate }}
              </mat-error>
            </mat-form-field>
          
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>{{ "email" | translate }}</mat-label>
              <input matInput type="email" formControlName="email" />
              <mat-error *ngIf="userForm.get('email')?.hasError('email')">
                {{ "emailError" | translate }}
              </mat-error>
            </mat-form-field>
          
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>{{"tel-num" | translate}}</mat-label>
              <input matInput type="text" formControlName="telefon" />
              <mat-error *ngIf="userForm.get('tel_number')?.hasError('pattern')">
                {{ "telNumError" | translate }}
              </mat-error>
            </mat-form-field>
          
            <button mat-raised-button color="primary" type="submit" [disabled]="userForm.invalid">
              Sačuvaj promjene
            </button>
          </form>
    </div>
</div>