/* Navbar container */
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

.collapsible-menu-container{
  display: flex;
  justify-content: right;
  align-items: center;
}

/* Logo */
.logo img {
  max-height: 40px;
}

.left-side:hover {
  opacity: 70%;
  cursor: pointer;
}

/* Hamburger menu */
.hamburger-menu {
  display: block;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: #333;
  transition: color 0.3s ease;
}

.hamburger-menu:hover {
  color: #555;
}

/* Collapsible menu */
.collapsible-menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #f8f9fa;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 100;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.4s ease, opacity 0.4s ease;
}

.collapsible-menu.collapsed {
  max-height: fit-content;
  opacity: 1;
  padding: 1rem;
}

/* Left buttons */
.left-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

/* Right-side container */
.right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.right-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  transition: transform 0.3s ease;
}

/* User menu styles */
.user-menu {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 0.5rem;
}



.menu-item {
  font-size: 0.9rem;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}


/* Desktop view */
@media (min-width: 995px) {
  .hamburger-menu {
    display: none;
  }

  .collapsible-menu {
    display: flex;
    flex-direction: row;
    position: static;
    width: 100%;
    padding: 0;
    box-shadow: none;
    max-height: none;
    opacity: 1;
    gap: 1rem;
    transition: none;
  }

  .left-buttons {
    margin-left: 1rem;
    margin-right: auto;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    width: auto;
  }

  .right-side {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    width: auto;
  }

  .right-buttons {
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
}

