
<!-- display all oglasi -->
<ul>
    <li *ngFor="let oglas of oglasi">
        <a (click)="prikaziDetalje(oglas)">
            <img src="assets/images/oglasi/oglas1.jpg" alt="">
            <div class="content">
                <div class="naziv">
                   {{oglas.title}}
                </div>
                <hr>
                <!-- <div class="kategorije">
                    <span *ngFor="let kategorija of oglas.kategorije">
                        <app-button [text]="kategorija"></app-button>
                    </span>
                </div> -->
                <div class="cijena">
                    {{oglas.price}}
                </div>
            </div>
        </a>
    </li>
</ul>

