
<!-- display all oglasi -->
<ul>
    <li *ngFor="let oglas of oglasi">
        <a (click)="prikaziDetalje(oglas)">
            <img src="{{oglas.slika}}" alt="">
            <div class="content">
                <div class="naziv">
                   {{oglas.naziv}}
                </div>
                <hr>
                <div class="kategorije">
                    <span *ngFor="let kategorija of oglas.kategorije">
                        <app-button [text]="kategorija"></app-button>
                    </span>
                </div>
                <div class="cijena">
                    {{oglas.cijena}}
                </div>
            </div>
        </a>
    </li>
</ul>

