<div style="background-color: #f1f1f1;">
</div>
<div class="oglas-header">
  <app-button class="back-button" [routerLink]="['/']">{{ "back" | translate }}</app-button>
  <h1 class="oglas-name">{{ oglas.title }}</h1>
</div>

<div class="oglas-detalji">
  <div class="slideshow-container" *ngIf="oglas.images && oglas.images.length > 0">
    <div
      class="slide"
      *ngFor="let img of oglas.images; let i = index"
      [class.active]="i === currentSlide"
    >
      <img src="{{apiUrl}}{{img}}" [alt]="'Image ' + i" />
    </div>
   
    <!-- Navigation buttons -->
    <a *ngIf="oglas.images.length > 1" class="prev" (click)="previousSlide()">&#10094;</a>
    <a *ngIf="oglas.images.length > 1" class="next" (click)="nextSlide()">&#10095;</a>
  
  </div>
  
  
  <h2 class="oglas-title">{{ "description" | translate }}</h2>
  <p class="oglas-description">{{ oglas.description }}</p>

  <p class="oglas-price">
    <strong>{{"price" | translate}}:</strong> {{ oglas.cijena }}
  </p>

  <p class="oglas-categories">
    <strong>{{"categories" | translate}}: </strong>
    <span class="oglas-category">
      <app-button [text]="oglas.category.category_name"></app-button>
    </span>
    <span class="oglas-category">
      <app-button [text]="oglas.subcategory.subcategory_name"></app-button>
    </span>
  </p>

  <div class="oglas-attributes">
    <h2>{{ "attributes" | translate }}</h2>
    <div *ngFor="let attribute of oglas.attributes" class="attribute-item">
      <span class="attribute-name">{{ attribute.attribute_name }}:</span>
      <span class="attribute-value">{{ attribute.value }}</span>
    </div>
  </div>
  

  <!-- User info card -->
  <strong>{{"publisher" | translate}}: </strong>
  <div class="user-card">
    <img class="user-image" src="{{apiUrl}}{{user.profile_image}}" alt="{{ user.username }}" />
    <div class="user-info">
      <p class="user-name">{{ user.username }}</p>
      <div class="user-actions">
        <app-button class="user-action-button">{{"call" | translate}}</app-button>
        <app-button class="user-action-button" routerLink="/messages">{{"sendMessage" | translate}}</app-button>

      </div>
    </div>
  </div>
</div>