/* filepath: /C:/Users/nexon/Merkat/frontend/src/app/components/help/help.component.scss */

.faq-section {
    background: linear-gradient(145deg, #d0e6f7, #eaf3fc);
    padding: 3rem 1.5rem;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    margin-top: 4rem;
    max-width: 900px;
    margin: 4rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.faq-section h1 {
    font-size: 2.5rem;
    color: #003f3f; /* Dark teal for strong heading contrast */
    margin-bottom: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.faq-item {
  margin-bottom: 1.5rem;
}

.faq-item h2 {
  font-size: 1.5rem;
  color: #007acc;
  margin-bottom: 0.5rem;
}

.faq-item p {
    font-size: 1.2rem;
    color: #333;
    line-height: 1.6;
    margin-bottom: 1rem;
    max-width: 800px;
    margin: 0.5rem auto;
    text-align: center; /* Center the text */
    font-weight: 400;
}

/* Responsive styles */
@media (max-width: 768px) {
  .faq-section {
    padding: 1rem;
  }

  .faq-section h1 {
    font-size: 2rem;
  }

  .faq-item h2 {
    font-size: 1.3rem;
  }

  .faq-item p {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .faq-section {
    padding: 0.5rem;
  }

  .faq-section h1 {
    font-size: 1.8rem;
  }

  .faq-item h2 {
    font-size: 1.2rem;
  }

  .faq-item p {
    font-size: 0.9rem;
  }
}